body{
margin: 0;
min-height: 100vh;
background-image: url(imagenes/logo.jpg);
background-repeat: repeat;/*
background-size: cover;
background-attachment: fixed;*/
background-position: center center;
width: 100%;
font-family: 'Liu Jian Mao Cao', cursive;
font-weight: bold;
box-sizing: border-box;
}

/*pseudo elemento before no entiendo bien que hace pero lo puse para que 
el resto de cosas no se vuelvan opacas*/
body::before{
content: "";
width: 100%;/*
min-height:1385px;*/
height: 100%;
position: fixed;
top: 0;
left: 0;
background: linear-gradient(90deg,white,purple);
opacity: 0.6;
z-index: -1;
}
@media(max-width: 830px){
    body::before{
        min-height: 1834px;
    }

}
header {
    width: 100%;
    
    /*
    height: 48px;*/
   position: fixed;
}
#btn-menu {
    display: none;
    
}
header label {
    display: none;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: 1px solid #F2F4F4;  
}
header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
.menu ul{
    font-size: 30px;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    /*para la posicion de los botones*/
    justify-content: center;/*
    border-bottom: 1px solid #F2F4F4;*/
    box-shadow: 0 0 0 2px #Fff,
                    0 0 0 3px #ccc,
                    0 20px 20px -12px #000000; 
    }
    .menu li {
        border-right: 1px solid #F2F4F4;
        border-left: 1px solid #F2F4F4;
        }
        /*evento de cambio de color encima de los botones*/
        .menu li:hover{
        background: rgba(0,0,0,0.3);
        color:  solid black;
        }
.menu li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
}
header .menu ul{
    list-style: none;
    display: flex;
}
@media (max-width: 768px){
    header label{
        display: block;
    }
    
    .menu {
        position: absolute;
        margin-left: -75%;
        transition: all 0.3s;
        border: 1px solid #F2F4F4;
    }
    .menu ul {
        flex-direction: column;
    }

    .menu li{/*
        border-bottom: 1px solid #F2F4F4;*/
        box-shadow: 0 0 0 1px #Fff,
                    0 20px 20px -12px #000000; 
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }
}





.portada{
height: auto;
width: 100%;
margin: 0%;
padding: 0%;
display: flex;
text-align: center;
justify-content: center;
flex-direction: column;
box-shadow: 0 0 0 2px rgb(0, 0, 0),
            0 0 0 2px #ccc,
            0 20px 20px -12px #000000; 
border-radius: 1%;
box-sizing: border-box;
}
.portada::before{
    content: "";
    width: 100%;
    height: 516px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,rgb(255, 255, 255),purple);
    opacity: 0.9;
    z-index: -1;
    }
.portada .logo{
color: rgb(255, 255, 255);
padding-top: 130px;
padding-bottom: 0px;
display: flex;
height: 0%;
flex-direction: column;
text-align: center;
justify-content: center;
font-size: 50px;
border: 1px solid black;
margin: 0;
background: linear-gradient(to right, rgb(255, 0, 0), rgb(84, 82, 255), rgb(255, 252, 104), rgb(0, 117, 16));
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 805px){
    .portada .logo{
        font-size: 30px;
    }
    .portada::before{
        height: 362.28px;
    }
}
@media (max-width: 439px){
    .portada .logo{
        font-size: 30px;
    }
.portada::before{
    height: 392.38px;
}
}










footer{
    padding-top: 500px;
    
}


footer .contenedor{
box-shadow: 0 0 0 2px rgb(0, 0, 0),
                0 0 0 2.5px rgb(0, 195, 255),
                0 20px 20px -12px #000000;     
font-family: sans-serif;
font-weight: normal;
box-sizing: border-box;
width: 100%;
margin: 0;
padding: 0;
display: flex;
text-align: justify;
justify-items: center;
justify-content: space-between;/*
border: 1px solid black;*/
height: 348px;
}
footer .contenedor .column1{
    box-sizing: border-box;/*
    border: 1px solid black;*/
    margin: 0;
    padding-right: 100px;
    padding-left: 20px;
    width: 50%;

}
footer .contenedor .column1 p{
    max-width: 400px;
    font-size: 26px;
}


footer .contenedor .column2{
    box-sizing: border-box;/*
    border: 1px solid black;*/
    width: 300px;  
    text-align: justify;
    justify-items: center;
    justify-content: space-between;
}
footer .contenedor .column2 img{
    width: 35px;
    height: 35px;
}
.row a{
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}
footer .contenedor .column2 label{
    font-size: 20px;
}

.row label{
    margin-left: 10px;
}
.row a:hover{
    cursor: pointer;
    background: rgba(255, 0, 191, 0.2);
    border-radius: 5%;
    width: auto;
    
}

.row2{
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
}
 .row2 label{
    margin-left: 10px;
}

footer .contenedor .column3{
    box-sizing: border-box;/*
    border: 1px solid black;*/
    padding-right: 20px;
}
footer .contenedor .column3 h1{
    text-align: justify;
    padding-left: 50px;

}
footer .contenedor .column3 img{
    width: 35px;
    height: 35px;
}
footer .contenedor .column3 label{
    font-size: 20px;
}
@media(max-width: 830px){
    footer .contenedor{
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        scroll-padding-left: 20px;
        width: 100%;
        height: auto;
    }
    footer .contenedor .column1{
        width: 90%;
        padding: 20px;
    justify-items: center;
    justify-content: center;
    text-align: justify;
    }
    footer .contenedor .column2{
    padding: 20px;
    justify-items: center;
    justify-content: center;
    text-align: justify;
    width: 90%;
    }
    footer .contenedor .column3{
    width: 90%;
    padding: 20px;
    justify-items: center;
    justify-content: center;
    text-align: justify;
    }
    footer .contenedor .column3 h1{
        text-align: justify;
        padding-left: 0px;
    
    }
    .row2{
        margin-left: 0px;
    }
     
}
.contenedorf{
    width: auto;
    font-family: sans-serif;
    display: flex;
    height: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;/*
    border: 1px solid black;*/
}











