body{
margin: 0;
min-height: 100vh;
background-image: url(imagenes/logo.jpg);
background-repeat: repeat;/*
background-size: cover;
background-attachment: fixed;*/
background-position: center center;
width: 100%;
font-family: 'Liu Jian Mao Cao', cursive;
box-sizing: border-box;
}

/*pseudo elemento before no entiendo bien que hace pero lo puse para que 
el resto de cosas no se vuelvan opacas*/
body::before{
content: "";
width: 100%;
min-height: 100vh;
position: absolute;
top: 0;
left: 0;
background: linear-gradient(90deg,white,purple);
opacity: 0.6;
z-index: -1;
}
header {
    width: 100%;
    
    /*
    height: 48px;*/
   position: fixed;
}
#btn-menu {
    display: none;
    
}
header label {
    display: none;
    width: 35px;
    height: 35px;
    padding: 10px;
    border: 1px solid #F2F4F4;  
}
header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    /*para la posicion de los botones*/
    justify-content: center;/*
    border-bottom: 1px solid #F2F4F4;*/
    box-shadow: 0 0 0 2px #Fff,
                    0 0 0 3px #ccc,
                    0 20px 20px -12px #000000; 
    }
    .menu li {
        border-right: 1px solid #F2F4F4;
        border-left: 1px solid #F2F4F4;
        }
        /*evento de cambio de color encima de los botones*/
        .menu li:hover{
        background: rgba(0,0,0,0.3);
        color:  solid black;
        }
.menu li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
}
header .menu ul{
    list-style: none;
    display: flex;
}
@media (max-width: 768px){
    header label{
        display: block;
    }
    
    .menu {
        position: absolute;
        margin-left: -75%;
        transition: all 0.3s;
        border: 1px solid #F2F4F4;
    }
    .menu ul {
        flex-direction: column;
    }

    .menu li{/*
        border-bottom: 1px solid #F2F4F4;*/
        box-shadow: 0 0 0 1px #Fff,
                    0 20px 20px -12px #000000; 
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }
}








.portada{
height: auto;
width: 100%;
margin: 0%;
display: flex;
text-align: center;
justify-content: center;

box-shadow: 0 0 0 2px rgb(0, 0, 0),
            0 0 0 2px #ccc,
            0 20px 20px -12px #000000; 
border-radius: 1%;
}
.portada::before{
    content: "";
    width: 100%;
    height: 415px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,white,purple);
    opacity: 0.9;
    z-index: -1;
    }


.portada .logo{
color: black;
padding-top: 80px;
padding-bottom: 100px;
display: flex;
text-align: center;
justify-content: center;
margin: 0;
font-size: 50px;
background: linear-gradient(to right, rgb(0, 78, 35), rgb(190, 178, 0), rgb(4, 0, 255), rgb(255, 0, 0));
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
@media (max-width: 768px){
    .portada .logo{
        font-size: 30px;
    }
}






footer{
    padding-top: 600px;
}

.prueba{
    text-align: justify;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: 0 0 0 1px #Fff,
                0 0 0 3px rgb(0, 0, 0);
    display: flex;
    justify-content: space-around; 
    align-items: center;/*
    flex-direction: column;*/
    list-style: none;
    text-decoration: none;
}
.prueba li{
list-style: none;
}
.prueba li a{
    text-decoration: none;
    color: #000000;
    }
.prueba li a:hover{
    background: rgba(0,0,0,0.1);
    transform: translateX(2px);
}

@media (max-width: 610px){
    .prueba{
     flex-direction: column;   
    }
    .prueba p{
        padding-top: 5em;
    }
}